@font-face {
  font-family: defaultFont;
  src: url(./../media/fonts/ProximaNova-Light.otf);
}

*{
  font-family: defaultFont;
}

::-webkit-scrollbar { 
    display: none; 
}

.site-header {
  margin-left: 7%;
  margin-top: 7%;
  text-align: left;
}

.site-title {
  font-size: 9rem;
  color: white;
}

.site-subtitle {
  font-size: 5rem;
  color: white;
}

.site-section-title {
  font-size: 4rem;
  color: white;
}

.lab-abstract {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.scroll-down-arrow {
  float: right;
  font-size: 5rem;
  margin-top: -8%;
}